@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#07080B] text-white font-sans;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0B0D13;
  }
  ::-webkit-scrollbar-thumb {
    background: #232733;
    border-radius: 999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #F97316;
  }
}
